/*---------------STYLES DETAIL-----------------*/

   .contenedor {
    min-width: 380px;  
    max-width: 500px;     
    height: auto;
    display: inline-block;        
    position: relative; 
    border: 1.5px solid #ff5507;
    box-shadow: 2px 2px 15px #000000 inset;
    align-items: center;
    justify-content: center;
    font-family: "Pacifico";
    border-radius: 8px;
    margin-right: 0.4rem;
    line-height: 0.3em;
   
  }
  
  /*--------------button----------------*/

  .button-detail {
    --color: #ff5507;
      font-family: inherit;
      display: inline-block;
      width: 6rem;
      height: 2rem;
      line-height: 2.5rem;
      margin: 15px;
      position: relative;
      overflow: hidden;
      border: 1.5px solid var(--color);
      transition: color 0.8s;
      z-index: 1;
      font-size: 17px;
      border-radius: 6px;
      font-weight: 300;
      color: var(--color);
      padding-top: 0px;
      margin-left: 5px;
      cursor: pointer;
      box-shadow: 2px 2px 15px #00000040 inset;
    }
  
    
    .button-detail:hover {
      color: #ff5507;
      box-shadow: 2px 2px 15px #f8a077fa inset;
    }
  

  .img-detail{
    height: 100%;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
  }
  .Summary-detail{
    line-height: 0.4rem;
  }
  
  .style-steps{
    color: rgb(82, 67, 148);
    line-height: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
  }
  h3{
    color: rgb(46, 22, 154)
  }

  .summary-detail{
    line-height: 0.9em;
    color: rgb(82, 67, 148);
   padding-left: 15px;
   padding-right: 15px;
  }
.title-detail{
  color: #ff5507;
  padding-bottom: 20px;
  line-height: 0.8em;
}
