/*----------------- BUTTON ----------------------*/

.title-landing{
  text-align: center;
  color: #f76410;
}

.button-landing{
  display: inline-block;
  width: 8em;
  height: 2.6em;
  position: relative;
  overflow: hidden;

}

.button-landing {
  --color: #ff5507;
    font-family: inherit;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2.5rem;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid var(--color);
    transition: color 0.8s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    color: var(--color);
    padding-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 15px #00000040 inset;
  }
  .button-landing:hover{
    color: #ff5507;
    box-shadow: 2px 2px 15px #f8a077fa inset;
  }
