/*--------------styles--------------*/

.button-pagination {
    --color: #f0680e;
    font-family: inherit;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 1px;
    padding-bottom: 2px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
    box-shadow: 2px 2px 15px #0000008d inset;
  }

  .button-pagination:hover {
    color: #ff5507;
    box-shadow: 2px 2px 15px #f8a077fa inset;
  }
  


