/*-----------------------------------------------*/

 .button-form {
  --color: #ff5507;
    font-family: inherit;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2.5rem;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid var(--color);
    transition: color 0.8s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    color: var(--color);
    padding-top: 0px;
    margin-left: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 15px #00000040 inset;
 }
 .button-form:hover {
  color: #ff5507;
  box-shadow: 2px 2px 15px #f8a077fa inset;
}

  
  /*---------------------------INPUT-------------------------*/
  .input-form {
    height: 1.6rem;
    width: 12rem;
    --color: #f0680e;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 1.5px solid #f0680e;
    border-radius: 6px;
    color: var(--color);
    cursor: pointer;
    margin-top: 10px;
  }
  
  
  /*------------------------FORM CONTAINER--------------------------*/
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    border-radius: 8px;
    margin-top:20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid #f0680e;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 2px 2px 15px #00000040 inset;
  }
  
  .error-form {
    color: red;
    margin: 20px ;
  }
  .Health-score{
    color: #f0680e
  }
.range{
  background-color: red;
}

.value {
  color: #f0680e
} 

/*------------------------------------------------*/
.select-diets {
  --color: #ff5507;
    font-family: inherit;
    display: inline-block;
    width: 12.3rem;
    height: 2rem;
    line-height: 2.5rem;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid var(--color);
    transition: color 0.8s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    color: var(--color);
    padding-top: 0px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  /*-------------------BUTTON DELETE----------------*/
  
  .button-delete {
    background-color: crimson;
    border-radius: 6px;
    cursor: pointer;
  }
  .important{
    color:crimson;
  }
  .title-form{
    color:#f76410;
  }
  .view-diet{
    color:#f76410;
  }
