/* ----------STYLES---------- */
.app{
    text-decoration: none;
}
.card{
    text-decoration: none;
}

.img-card{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;

}

.text-diets{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    color: rgb(82, 67, 148);
    text-decoration: none;
}

.title-card{
    color: rgb(46, 22, 154);
    line-height: 1em;
    padding-left: 1px;
    padding-right: 1px;
}