/*-------------------STYLES CARDS----------------------*/
a {
  text-decoration: none;
}
body {
  background-size: cover;
  
}

.container-body {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.styles-styles-card {
  width: 220px;
  height: 390px;
  background-size: 100%;
  background-repeat: no-repeat; 
  background-size: cover;  
  border: 1.5px solid #ff5507;
  box-shadow: 2px 2px 15px #000000 inset;
  text-align: center;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  font-family: "Pacifico";
  border-radius: 12px;
  margin-top: 8px;
  margin-right: 0.2em;
  line-height: 0.3em;
 
}

.styles-styles-card:hover {
  color: #ff5507;
  box-shadow: 2px 2px 15px #ff5507 inset;
}

/*-------------------------BUTTON HOME-----------------------------*/

.button-home {
  --color: #ff5507;
    font-family: inherit;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2.5rem;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid var(--color);
    transition: color 0.8s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    color: var(--color);
    padding-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 15px #00000040 inset;
  }

  
  .button-home:hover {
    color: #ff5507;
    box-shadow: 2px 2px 15px #f8a077fa inset;
  }

/*--------------------SELECT HOME----------------------*/

.select-home {
  --color: #ff5507;
    font-family: inherit;
    display: inline-block;
    width: 10rem;
    height: 2rem;
    line-height: 2.5rem;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border: 1.5px solid var(--color);
    transition: color 0.8s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 300;
    color: var(--color);
    padding-top: 0px;
    margin-left: 5px;
    cursor: pointer;
    
}


